{% extends "crm/base.html" %}

{% load crispy_forms_tags %}

{% block title %}at
Create Contact
{% endblock %}

{% block content%}
<a class="btn btn-outline-primary btn-sm mt-4" href="{% url 'contact-list' %}" role="button">&larr; All Contacts</a>

<h1 class="mt-4">Create Contact</h1>

<div class="row">
  <div class="col-lg-6">
    <form method="post">{% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div>
</div>
{% endblock %}
