{% extends 'crm/base.html' %}

{% block title %}
All Contacts
{% endblock %}

{% block content %}
<h1 class="mt-4">All Contacts</h1>

<div class="table-responsive mt-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Company</th>
        <th scope="col">Description</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Has Custom Schema?</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for contact in contacts %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="{% url 'contact-detail' contact.slug %}">{{ contact.title }}</a></td>
        <td>{{ contact.company.title|default:"&mdash;" }}</td>
        <td>{{ contact.description|default:"&mdash;" }}</td>
        <td>{{ contact.birth_date|date:"jS F Y"|default:"&mdash;"  }}</td>
        <!-- {% for key, value in contact.extra.items %} -->
        <!-- <td>{{ key}}: {{ value }}</td> -->
        <!-- {% endfor %} -->
        <td>{{ contact.custom_schema|yesno:"Yes,No"  }}</td>
        <td><a href="{% url 'contact-update' contact.slug %}">Update</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<p><a class="btn btn-outline-primary my-4" href="{% url 'contact-create' %}" role="button">Create a new contact</a></p>
{% endblock %}
