<h1>All Contacts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Birth Date</th>
    <th>Update</th>
    <th></th>
    <th></th>
  </th>
  {% for contact in contacts %}
  <tr>
    <td><a href="{% url 'contact-detail' contact.pk %}">{{ contact.title }}</a></td>
    <td>{{ contact.description }}</td>
    <td>{{ contact.birth_date|date:"jS F Y" }}</td>
    <td><a href="{% url 'contact-update' contact.pk %}">Update</td>
    {% for key, value in contact.extra.items %}
    <td>{{ key}}: {{ value }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<p><a href="{% url 'contact-create' %}">Create a new contact</a></p>
